html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
--primary-text-color: #212121;
--title-text-color: #757575;
--accnent-color: #2196F3;
--primary-white-color: #FFFFFF;
}

body {
    background-color: var(--primary-white-color);
    color: var(--title-text-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.main-nav {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 93px;
    color: #2196F3;
    font-family: "Raleway", cursive;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
}

.logo-link {
    color: #000000; 
    font-family: "Raleway", cursive;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;    
}

.logo-footer {
    color: #FFFFFF; 
    font-family: "Raleway", cursive;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none; 
}

.nav {
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;
}

.site-nav .item:not(:last-child) {
    margin-right: 50px;
}

.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
    
.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--accnent-color);
}
    
.site-nav .link.current {
    color: var(--accnent-color);
}
    
.mail-tel {
    display: flex;
    margin-left: auto;
}

.mail-tel .item:not(:last-child) {
    margin-right: 50px;
}

.mail-tel .mail {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
    
.mail:hover,
.mail:focus {
    color: var(--accnent-color);
}
    
.footer {
    background: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.address-team {
    display: flex;
    flex-direction: column;
}

.address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.address-text {
    font-style: normal;
    margin-top: 20px;
    margin-bottom: 9px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--primary-white-color);
    text-decoration: none;
}

.address.info {
    margin-top: 0;
    margin-bottom: 9px;
}

.address:hover,
.address:focus {
    color: var(--accnent-color);
}
    
.address-text:hover,
.address-text:focus {
    color: var(--accnent-color);
}