.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;

    margin-left: auto;
    margin-right: auto;
}

.none {
    display: none;
}

.hero-title {
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.hero {
    background: #2F303A;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section.no-padding {
    padding-bottom: 0;
}

.section-title {
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    
}

.feature-list .title {
    margin-top: 0;
    margin-bottom: 10px;
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}

.feature-list .text {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.feature-list{
    display: flex;
    flex-wrap: wrap;
}

.feature {
    width: 270px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.feature:nth-child(4n) {
    margin-right: 0;
}

.feature:nth-last-child(-n+4) {
    margin-bottom: 0;
}


.work {
    display: flex;
  } 

.item-work {
    width: calc((100%-60px)/3);
    margin-right: 30px;
}

.item-work:nth-child(3n) {
    margin-right: 0;
}

.team-list .title {
    margin-top: 30px;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--primary-text-color);
    text-align: center
}

.team-list .text-two {
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center

}

.button-primaru {
    display: inline-block;
    border: 1px solid transparent;
    padding-top: 8px;
    padding-bottom: 8px;
    min-width: 216px;

    color: var(--primary-white-color);
    background-color: var(--accnent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}

.button {
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 23px;
    padding-right: 23px;
    color: var(--primary-text-color);
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    border-radius: 4px;
    border: 1px solid #eee;
    text-decoration: none;
    cursor: pointer;
}

.button:hover,
.button:focus {
    color: var(--primary-white-color);
    background-color:var(--accnent-color);
}

.team {
    background: #F5F4FA
}

.team-list{
    display: flex;
    flex-wrap: wrap;
}

.element-team {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: 270px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.element-team:nth-child(4n) {
    margin-right: 0;
}

.element-team:nth-last-child(-n+4) {
    margin-bottom: 0;
}

.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter .item:not(:last-child) {
    margin-right: 8px;
}

.portfolios-list .title-two {
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 24px;
    color:var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2; 
    letter-spacing: 0.06em;
}

.portfolios-list .text-with {
    margin-top: 4px;
    margin-bottom: 20px;
    margin-left: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
}

.portfolios-list{
    display: flex;
    flex-wrap: wrap;
}

.element {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid #EEEEEE;
}

.element:nth-child(3n) {
    margin-right: 0;
}

.element:nth-last-child(-n+3) {
    margin-bottom: 0;
}